<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <link rel="stylesheet" href="{% static 'css/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>HRM</title>

</head>
<body>
 
    {% include  'navbar.html' %}
    {% if messages %}
    {% for message in messages %}
    <div class="container">
                <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
         <span class="fw-bolder">     {{message}} </span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    {% endfor %}
    {% endif %} 
    {% block content %}
    
    {% endblock content %}
      
    
    <script src="{% static 'css/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/steps.js' %}"></script>
    <script src="{% static 'js/steps.js' %}"></script>
    <script src="{% static 'js/doctortable.js' %}"></script>
</body>
</html>

